In [728]:
import pandas as pd

In [729]:
df=pd.read_csv(r"C:\Users\sm803\OneDrive\Desktop\ALL ML PROJECTS\Hose Price Prediction\Data\House_Rent_Dataset.csv")

In [730]:
df.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

In [731]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   int64
 11  Point of Contact   4746 non-null   object
dtypes: int64(4), object(8)
memory usage: 445.1+ KB

In [732]:
df.nunique()

Posted On              81
BHK                     6
Rent                  243
Size                  615
Floor                 480
Area Type               3
Area Locality        2235
City                    6
Furnishing Status       3
Tenant Preferred        3
Bathroom                8
Point of Contact        3
dtype: int64

In [733]:
df=df.drop(['Posted On','Point of Contact'],axis=1)

In [734]:
df.head()

,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom
0,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2
1,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1
2,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1
3,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1
4,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1

In [735]:
df['Floor'].unique()

array(['Ground out of 2', '1 out of 3', '1 out of 2', 'Ground out of 1',
       'Ground out of 4', '1 out of 4', '1 out of 1', 'Ground out of 3',
       '2 out of 3', '4 out of 5', '2 out of 2', '2 out of 5',
       '4 out of 14', '3 out of 3', '5 out of 5', '4 out of 4',
       '7 out of 8', '2 out of 4', '3 out of 4', '1 out of 5',
       '8 out of 5', 'Ground out of 6', '2 out of 1',
       'Upper Basement out of 4', 'Ground out of 5', '3 out of 5',
       '11 out of 19', '5 out of 10', '11 out of 14',
       'Lower Basement out of 2', '2 out of 7', '4 out of 10',
       '7 out of 10', '2 out of 13', '6 out of 7', '4 out of 7',
       '14 out of 14', '43 out of 78', '2 out of 8', '13 out of 18',
       '5 out of 12', '18 out of 24', '3 out of 7', '17 out of 31',
       '11 out of 21', '7 out of 19', '14 out of 23', '9 out of 20',
       'Upper Basement out of 9', '19 out of 24', '3 out of 21',
       '1 out of 22', '8 out of 8', '6 out of 12', '4 out of 58',
       'Upper Basement out of 16', '60 out of 66', '34 out of 48',
       '5 out of 8', '5 out of 14', '14 out of 40', '5 out of 7',
       '9 out of 22', '12 out of 18', '26 out of 44', '1 out of 8',
       '25 out of 42', '25 out of 41', '53 out of 78', 'Ground out of 7',
       '14 out of 20', '13 out of 20', '16 out of 23', '10 out of 18',
       '39 out of 60', '16 out of 21', '10 out of 32', '4 out of 8',
       '12 out of 24', '32 out of 41', '3 out of 30', '13 out of 21',
       '9 out of 29', '47 out of 89', '7 out of 41', '28 out of 30',
       '13 out of 15', '6 out of 21', '8 out of 16', '2 out of 6',
       '5 out of 19', '3 out of 11', '17 out of 42', '10 out of 12',
       '8 out of 28', '9 out of 15', '14 out of 22', '18 out of 40',
       '9 out of 17', '12 out of 45', '25 out of 35', '7 out of 15',
       '10 out of 16', 'Upper Basement out of 20', '5 out of 20',
       'Upper Basement out of 40', '5 out of 18', '34 out of 58',
       '4 out of 6', '20 out of 22', '12 out of 19', '15 out of 18',
       '65 out of 78', '6 out of 16', '17 out of 22', '6 out of 24',
       '40 out of 75', '19 out of 38', '15 out of 31', '11 out of 28',
       '10 out of 22', '17 out of 24', '15 out of 19', '9 out of 10',
       '7 out of 12', '8 out of 20', '11 out of 13', '9 out of 19',
       '37 out of 51', '6 out of 11', '8 out of 15', '11 out of 20',
       '10 out of 23', 'Upper Basement out of 10', '7 out of 23',
       '4 out of 11', '17 out of 43', '7 out of 22', '14 out of 18',
       '6 out of 10', '8 out of 12', '3 out of 18', '7 out of 7',
       '14 out of 58', '18 out of 23', '19 out of 19', '13 out of 14',
       '7 out of 11', '11 out of 22', 'Upper Basement out of 30',
       '12 out of 14', '16 out of 31', '12 out of 13', '11 out of 51',
       '2 out of 12', '22 out of 24', '7 out of 14', '5 out of 13',
       '7 out of 21', '14 out of 21', '17 out of 25', '9 out of 14',
       '8 out of 27', '3 out of 6', '17 out of 20', '18 out of 22',
       '1 out of 7', '9 out of 30', '3 out of 8', '11 out of 26',
       '17 out of 27', '4 out of 12', '12 out of 16', '10 out of 24',
       '65 out of 76', '7 out of 9', '17 out of 60', '10 out of 11',
       '18 out of 25', '5 out of 11', '15 out of 17', '15 out of 23',
       '5 out of 17', '3 out of 28', '5 out of 24', '16 out of 32',
       '21 out of 22', '7 out of 13', '9 out of 12', '15 out of 32',
       '18 out of 27', '15 out of 16', '18 out of 45', '15 out of 15',
       '6 out of 14', '1 out of 20', '16 out of 36', '30 out of 44',
       '30 out of 37', '2 out of 9', '12 out of 22', '4 out of 9',
       '2 out of 22', '5 out of 6', '6 out of 18', '35 out of 55',
       '16 out of 29', '30 out of 45', '5 out of 9', '16 out of 25',
       '33 out of 42', '4 out of 16', '13 out of 23', '9 out of 38',
       '6 out of 8', '8 out of 13', '19 out of 30', '10 out of 14',
       '11 out of 24', '9 out of 16', '9 out of 31', '4 out of 15',
       '3 out of 9', '22 out of 30', '3 out of 58', '1 out of 9',
       '53 out of 60', '5 out of 22', '15 out of 22', '19 out of 21',
       '9 out of 40', 'Ground out of 8', '44 out of 75', '8 out of 17',
       '3 out of 14', '12 out of 31', '26 out of 42', '2 out of 45',
       '12 out of 68', '17 out of 36', '10 out of 28', '41 out of 41',
       '14 out of 68', '14 out of 17', '15 out of 20', '46 out of 76',
       '12 out of 20', '20 out of 30', '18 out of 32', '10 out of 25',
       '17 out of 29', '10 out of 31', '10 out of 15', '13 out of 16',
       '8 out of 10', '18 out of 21', '27 out of 58', '1 out of 6',
       '19 out of 25', '3 out of 15', '25 out of 43', '8 out of 14',
       '11 out of 12', '9 out of 21', '10 out of 13', '45 out of 77',
       '18 out of 19', '10 out of 20', '12 out of 29',
       'Lower Basement out of 18', '15 out of 24', '48 out of 68',
       '12 out of 42', '16 out of 22', '35 out of 68', '18 out of 30',
       '11 out of 31', '50 out of 75', '18 out of 26', '12 out of 27',
       '16 out of 20', '24 out of 55', '16 out of 37',
       'Upper Basement out of 7', '6 out of 15', '11 out of 27',
       '11 out of 23', '3 out of 12', '14 out of 15', '23 out of 25',
       '14 out of 48', '29 out of 35', '15 out of 36', '15 out of 25',
       '15 out of 28', '3 out of 36', '8 out of 11', '6 out of 20',
       '23 out of 23', '5 out of 15', '16 out of 18', '2 out of 10',
       '40 out of 50', '25 out of 28', '12 out of 17', '34 out of 40',
       'Upper Basement out of 22', '8 out of 23', '5 out of 21',
       '32 out of 59', '20 out of 32', '9 out of 18', '10 out of 37',
       '25 out of 48', '4 out of 22', '8 out of 18', '11 out of 11',
       '5 out of 23', '60 out of 77', '11 out of 18', '4 out of 20',
       '5 out of 16', '3 out of 13', '30 out of 58', '15 out of 43',
       '7 out of 16', '18 out of 28', '9 out of 55', '11 out of 25',
       '49 out of 55', '7 out of 27', '14 out of 27', '16 out of 27',
       '25 out of 50', '6 out of 30', '21 out of 23', '8 out of 58',
       '20 out of 41', '3 out of 62', '4 out of 13', '7 out of 17',
       '12 out of 21', '28 out of 39', '15 out of 58', '6 out of 23',
       '36 out of 45', '9 out of 28', '6 out of 45', '22 out of 52',
       '10 out of 19', '21 out of 58', '48 out of 54', '7 out of 28',
       '11 out of 15', '19 out of 22', '15 out of 37', '2 out of 17',
       '76 out of 78', '3 out of 10', '20 out of 27', '8 out of 36',
       '14 out of 33', '21 out of 21', '12 out of 25', '18 out of 29',
       '14 out of 35', '7 out of 20', '20 out of 37', '9 out of 35',
       '27 out of 27', '15 out of 60', '19 out of 33', '18 out of 20',
       '13 out of 40', '9 out of 11', '8 out of 22', '6 out of 13',
       '20 out of 31', '27 out of 45', '19 out of 20', '32 out of 46',
       '19 out of 85', '3 out of 23', '34 out of 46', '4 out of 27',
       '19 out of 27', '35 out of 60', '21 out of 33', '25 out of 52',
       '2 out of 24', '24 out of 24', '18 out of 33', '1 out of 10',
       '45 out of 60', '60 out of 71', '36 out of 81', '24 out of 60',
       '16 out of 38', '8 out of 45', 'Ground out of 16', '8 out of 32',
       '10 out of 10', '23 out of 40', '7 out of 18', '8 out of 19',
       '6 out of 17', '16 out of 34', 'Ground out of 12', '6 out of 9',
       'Ground out of 18', '20 out of 25', '3 out of 22', '9 out of 32',
       '26 out of 32', '17 out of 18', '24 out of 25', '19 out of 26',
       '17 out of 19', '1 out of 13', '14 out of 30', '8 out of 9',
       '3 out of 17', 'Lower Basement out of 3', '12 out of 23',
       'Ground out of 9', '1 out of 24', '1 out of 12', '3', 'Ground',
       '15 out of 29', '20 out of 20', '14 out of 29',
       'Lower Basement out of 1', '13 out of 17', '1 out of 14',
       'Upper Basement out of 2', '2 out of 14', '24 out of 31',
       '2 out of 32', '2 out of 16', '9 out of 13', '1 out of 11',
       '6 out of 29', '9 out of 9', '28 out of 31', '1 out of 15',
       'Ground out of 14', '2 out of 11', '19 out of 31', '1 out of 16',
       '25 out of 32', '11 out of 16', '11 out of 17',
       'Upper Basement out of 3', '4 out of 24', '1 out of 19',
       '7 out of 30', '16 out of 19', 'Upper Basement out of 5',
       'Ground out of 13', '2 out of 25', '23 out of 30', '4 out of 30',
       '13 out of 25', '23 out of 35', 'Ground out of 10', '5 out of 34',
       '20 out of 35', '1', '4 out of 31', '4 out of 26', '24 out of 33',
       '4 out of 17', '1 out of 35', '11 out of 35', 'Ground out of 15',
       'Ground out of 27', '15 out of 30', '12 out of 30', '23 out of 34'],
      dtype=object)

In [736]:
def process_floor(x):
    x = x.lower().strip()

    # Case 1: Ground floor
    if "ground" in x:
        # Example: "ground out of 4"
        parts = x.split()
        total = int(parts[-1]) if parts[-1].isdigit() else None
        return pd.Series([0, total])

    # Case 2: Upper Basement
    if "upper basement" in x:
        return pd.Series([-1, None])

    # Case 3: Lower Basement
    if "lower basement" in x:
        return pd.Series([-2, None])

    # Case 4: Normal floors like "3 out of 12"
    parts = x.split()
    
    try:
        current = int(parts[0])          # '3'
        total = int(parts[-1])           # '12'
    except:
        # If some weird format appears, fallback
        current = None
        total = None

    return pd.Series([current, total])

In [737]:
df[["Current_Floor", "Total_Floors"]] = df["Floor"].apply(process_floor)
df = df.drop(columns=["Floor"])

In [738]:
df.head()

,BHK,Rent,Size,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Current_Floor,Total_Floors
0,2,10000,1100,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,0.0,2.0
1,2,20000,800,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,1.0,3.0
2,2,17000,1000,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,1.0,3.0
3,2,10000,800,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,1.0,2.0
4,2,7500,850,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,1.0,2.0

In [739]:
df['Tenant Preferred'].unique()

array(['Bachelors/Family', 'Bachelors', 'Family'], dtype=object)

In [740]:
import pandas as pd

def encode_tenant(x):
    x = x.lower().strip()

    # Initial binary values
    b = 1 if "bachelor" in x else 0
    f = 1 if "family" in x else 0

    return pd.Series([b, f])

df[["bachelor", "family"]] = df["Tenant Preferred"].apply(encode_tenant)
df.drop('Tenant Preferred',axis=1,inplace=True)
df.head()

,BHK,Rent,Size,Area Type,Area Locality,City,Furnishing Status,Bathroom,Current_Floor,Total_Floors,bachelor,family
0,2,10000,1100,Super Area,Bandel,Kolkata,Unfurnished,2,0.0,2.0,1,1
1,2,20000,800,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,1,1.0,3.0,1,1
2,2,17000,1000,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,1,1.0,3.0,1,1
3,2,10000,800,Super Area,Dumdum Park,Kolkata,Unfurnished,1,1.0,2.0,1,1
4,2,7500,850,Carpet Area,South Dum Dum,Kolkata,Unfurnished,1,1.0,2.0,1,0

In [741]:
df.nunique(),df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   BHK                4746 non-null   int64
 1   Rent               4746 non-null   int64
 2   Size               4746 non-null   int64
 3   Area Type          4746 non-null   object
 4   Area Locality      4746 non-null   object
 5   City               4746 non-null   object
 6   Furnishing Status  4746 non-null   object
 7   Bathroom           4746 non-null   int64
 8   Current_Floor      4746 non-null   float64
 9   Total_Floors       4711 non-null   float64
 10  bachelor           4746 non-null   int64
 11  family             4746 non-null   int64
dtypes: float64(2), int64(6), object(4)
memory usage: 445.1+ KB

(BHK                     6
 Rent                  243
 Size                  615
 Area Type               3
 Area Locality        2235
 City                    6
 Furnishing Status       3
 Bathroom                8
 Current_Floor          54
 Total_Floors           66
 bachelor                2
 family                  2
 dtype: int64,
 None)

In [742]:
# df.head()
df['Original_Locality'] = df['Area Locality']

In [743]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
onehot_column=['Area Type','City','Furnishing Status']
label_column=['Area Locality']
onehot_encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

# Fit-transform on correct columns
one_encoded = onehot_encoder.fit_transform(df[onehot_column])

# Create dataframe WITH INDEX PRESERVED
encoded_df = pd.DataFrame(
    one_encoded,
    columns = onehot_encoder.get_feature_names_out(onehot_column),
    index = df.index     # <<<<< THIS FIXES THE PROBLEM
)

# Drop original columns and concat
df = pd.concat([df.drop(columns=onehot_column), encoded_df], axis=1)

In [744]:
onehot_column=['Area Type','City','Furnishing Status']
label_column=['Area Locality']

lb_encoder=LabelEncoder()
# onehot_encoder=OneHotEncoder()


# one_encoded=onehot_encoder.fit_transform(df[onehot_column])

# encoded_df = pd.DataFrame(one_encoded.toarray(), columns=onehot_encoder.get_feature_names_out(onehot_column))

# df = df.drop(columns=onehot_column)
# df = pd.concat([df, encoded_df], axis=1)

df['Locality_ID'] = lb_encoder.fit_transform(df['Original_Locality'])

df.drop(columns=['Original_Locality', 'Area Locality'], inplace=True)

In [745]:
import pickle

with open('lb_encoder.pkl','wb') as file:
    pickle.dump(lb_encoder,file)

with open('one_encoder.pkl','wb')as file:
    pickle.dump(onehot_encoder,file)

In [746]:
df.head()

,BHK,Rent,Size,Bathroom,Current_Floor,Total_Floors,bachelor,family,Area Type_Built Area,Area Type_Carpet Area,...,City_Bangalore,City_Chennai,City_Delhi,City_Hyderabad,City_Kolkata,City_Mumbai,Furnishing Status_Furnished,Furnishing Status_Semi-Furnished,Furnishing Status_Unfurnished,Locality_ID
0,2,10000,1100,2,0.0,2.0,1,1,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,221
1,2,20000,800,1,1.0,3.0,1,1,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1527
2,2,17000,1000,1,1.0,3.0,1,1,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1760
3,2,10000,800,1,1.0,2.0,1,1,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,526
4,2,7500,850,1,1.0,2.0,1,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1890

In [747]:
df.isnull().sum()

BHK                                  0
Rent                                 0
Size                                 0
Bathroom                             0
Current_Floor                        0
Total_Floors                        35
bachelor                             0
family                               0
Area Type_Built Area                 0
Area Type_Carpet Area                0
Area Type_Super Area                 0
City_Bangalore                       0
City_Chennai                         0
City_Delhi                           0
City_Hyderabad                       0
City_Kolkata                         0
City_Mumbai                          0
Furnishing Status_Furnished          0
Furnishing Status_Semi-Furnished     0
Furnishing Status_Unfurnished        0
Locality_ID                          0
dtype: int64

In [748]:
df['Total_Floors'].fillna(df['Total_Floors'].median(), inplace=True)

C:\Users\sm803\AppData\Local\Temp\ipykernel_9424\1101042050.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Total_Floors'].fillna(df['Total_Floors'].median(), inplace=True)

In [749]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   BHK                               4746 non-null   int64
 1   Rent                              4746 non-null   int64
 2   Size                              4746 non-null   int64
 3   Bathroom                          4746 non-null   int64
 4   Current_Floor                     4746 non-null   float64
 5   Total_Floors                      4746 non-null   float64
 6   bachelor                          4746 non-null   int64
 7   family                            4746 non-null   int64
 8   Area Type_Built Area              4746 non-null   float64
 9   Area Type_Carpet Area             4746 non-null   float64
 10  Area Type_Super Area              4746 non-null   float64
 11  City_Bangalore                    4746 non-null   float64
 12  City_Chennai                      4746 non-null   float64
 13  City_Delhi                        4746 non-null   float64
 14  City_Hyderabad                    4746 non-null   float64
 15  City_Kolkata                      4746 non-null   float64
 16  City_Mumbai                       4746 non-null   float64
 17  Furnishing Status_Furnished       4746 non-null   float64
 18  Furnishing Status_Semi-Furnished  4746 non-null   float64
 19  Furnishing Status_Unfurnished     4746 non-null   float64
 20  Locality_ID                       4746 non-null   int64
dtypes: float64(14), int64(7)
memory usage: 778.8 KB

In [750]:
import numpy as np
df['LogRent'] = np.log1p(df['Rent'])

In [751]:
df.isnull().sum()

BHK                                 0
Rent                                0
Size                                0
Bathroom                            0
Current_Floor                       0
Total_Floors                        0
bachelor                            0
family                              0
Area Type_Built Area                0
Area Type_Carpet Area               0
Area Type_Super Area                0
City_Bangalore                      0
City_Chennai                        0
City_Delhi                          0
City_Hyderabad                      0
City_Kolkata                        0
City_Mumbai                         0
Furnishing Status_Furnished         0
Furnishing Status_Semi-Furnished    0
Furnishing Status_Unfurnished       0
Locality_ID                         0
LogRent                             0
dtype: int64

In [752]:
df.head()

,BHK,Rent,Size,Bathroom,Current_Floor,Total_Floors,bachelor,family,Area Type_Built Area,Area Type_Carpet Area,...,City_Chennai,City_Delhi,City_Hyderabad,City_Kolkata,City_Mumbai,Furnishing Status_Furnished,Furnishing Status_Semi-Furnished,Furnishing Status_Unfurnished,Locality_ID,LogRent
0,2,10000,1100,2,0.0,2.0,1,1,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,221,9.210440
1,2,20000,800,1,1.0,3.0,1,1,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1527,9.903538
2,2,17000,1000,1,1.0,3.0,1,1,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1760,9.741027
3,2,10000,800,1,1.0,2.0,1,1,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,526,9.210440
4,2,7500,850,1,1.0,2.0,1,0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1890,8.922792

In [753]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np

# --------- Features + target ---------
X = df.drop(['Rent','LogRent'], axis=1)
y = df['LogRent']

# --------- Train-test split ---------
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# --------- Separate Locality_ID ---------
X_train_locality = X_train['Locality_ID'].values
X_test_locality = X_test['Locality_ID'].values

# --------- Define numeric columns ---------
numeric_cols = ['BHK', 'Size', 'Bathroom', 'Current_Floor', 'Total_Floors']

# --------- Scale ONLY numeric columns ---------
scaler = StandardScaler()

X_train_scaled_numeric = scaler.fit_transform(X_train[numeric_cols])
X_test_scaled_numeric = scaler.transform(X_test[numeric_cols])

# --------- Categorical columns (DO NOT SCALE) ---------
categorical_cols = X_train.drop(columns=numeric_cols + ['Locality_ID']).columns

X_train_categorical = X_train[categorical_cols].values
X_test_categorical = X_test[categorical_cols].values

# --------- Combine numeric + categorical ---------
X_train_other = np.hstack([X_train_scaled_numeric, X_train_categorical])
X_test_other = np.hstack([X_test_scaled_numeric, X_test_categorical])


with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [754]:
categorical_cols

Index(['bachelor', 'family', 'Area Type_Built Area', 'Area Type_Carpet Area',
       'Area Type_Super Area', 'City_Bangalore', 'City_Chennai', 'City_Delhi',
       'City_Hyderabad', 'City_Kolkata', 'City_Mumbai',
       'Furnishing Status_Furnished', 'Furnishing Status_Semi-Furnished',
       'Furnishing Status_Unfurnished'],
      dtype='object')

### ANN model make and train

In [755]:
import tensorflow as tf
from tensorflow.keras.layers import Input, Embedding, Dense, Flatten, Concatenate, Dropout, BatchNormalization
from tensorflow.keras.models import Model

In [756]:
df['Locality_ID'].nunique()

2235

In [757]:
# Number of unique locality IDs
num_localities = df['Locality_ID'].nunique()
embedding_dim = 32  # good dimension for 2k+ categorie

In [758]:
# -------- Locality Input (Embedding) --------
locality_input = Input(shape=(1,), name="Locality_Input")
locality_embed = Embedding(input_dim=num_localities, output_dim=embedding_dim)(locality_input)
locality_embed = Flatten()(locality_embed)

In [759]:
locality_embed.shape

(None, 32)

In [760]:

# -------- Other numeric + one-hot features --------
other_input = Input(shape=(X_train_other.shape[1],), name="Other_Features")

In [761]:
# -------- Combine --------
x = Concatenate()([locality_embed, other_input])

In [762]:
x

In [763]:
# -------- Dense Layers --------
x = Dense(256, activation="relu")(x)
x = BatchNormalization()(x)
x = Dropout(0.3)(x)

In [764]:
x = Dense(128, activation="relu")(x)
x = BatchNormalization()(x)
x = Dropout(0.2)(x)

x = Dense(64, activation="relu")(x)

In [765]:

# -------- Output Layer --------
output = Dense(1, activation='linear')(x)

model = Model(inputs=[locality_input, other_input], outputs=output)

model.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
    loss='mse',
    metrics=['mae']
)

model.summary()

Model: "functional_14"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)        â”ƒ Output Shape      â”ƒ    Param # â”ƒ Connected to      â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ Locality_Input      â”‚ (None, 1)         â”‚          0 â”‚ -                 â”‚
â”‚ (InputLayer)        â”‚                   â”‚            â”‚                   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ embedding_12        â”‚ (None, 1, 32)     â”‚     71,520 â”‚ Locality_Input[0â€¦ â”‚
â”‚ (Embedding)         â”‚                   â”‚            â”‚                   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ flatten_12          â”‚ (None, 32)        â”‚          0 â”‚ embedding_12[0][â€¦ â”‚
â”‚ (Flatten)           â”‚                   â”‚            â”‚                   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ Other_Features      â”‚ (None, 19)        â”‚          0 â”‚ -                 â”‚
â”‚ (InputLayer)        â”‚                   â”‚            â”‚                   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ concatenate_12      â”‚ (None, 51)        â”‚          0 â”‚ flatten_12[0][0], â”‚
â”‚ (Concatenate)       â”‚                   â”‚            â”‚ Other_Features[0â€¦ â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_56 (Dense)    â”‚ (None, 256)       â”‚     13,312 â”‚ concatenate_12[0â€¦ â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ batch_normalizatioâ€¦ â”‚ (None, 256)       â”‚      1,024 â”‚ dense_56[0][0]    â”‚
â”‚ (BatchNormalizatioâ€¦ â”‚                   â”‚            â”‚                   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dropout_28          â”‚ (None, 256)       â”‚          0 â”‚ batch_normalizatâ€¦ â”‚
â”‚ (Dropout)           â”‚                   â”‚            â”‚                   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_57 (Dense)    â”‚ (None, 128)       â”‚     32,896 â”‚ dropout_28[0][0]  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ batch_normalizatioâ€¦ â”‚ (None, 128)       â”‚        512 â”‚ dense_57[0][0]    â”‚
â”‚ (BatchNormalizatioâ€¦ â”‚                   â”‚            â”‚                   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dropout_29          â”‚ (None, 128)       â”‚          0 â”‚ batch_normalizatâ€¦ â”‚
â”‚ (Dropout)           â”‚                   â”‚            â”‚                   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_58 (Dense)    â”‚ (None, 64)        â”‚      8,256 â”‚ dropout_29[0][0]  â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_59 (Dense)    â”‚ (None, 1)         â”‚         65 â”‚ dense_58[0][0]    â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 127,585 (498.38 KB)

 Trainable params: 126,817 (495.38 KB)

 Non-trainable params: 768 (3.00 KB)

In [766]:
from tensorflow.keras.callbacks import Callback

class EpochProgressBar(Callback):
    def on_train_begin(self, logs=None):
        self.total_epochs = self.params['epochs']

    def on_epoch_end(self, epoch, logs=None):
        logs = logs or {}
        
        # percentage complete
        percent = int(((epoch + 1) / self.total_epochs) * 100)

        # progress bar visual
        bar_length = 30
        filled = int(bar_length * percent / 100)
        bar = 'â–ˆ' * filled + '-' * (bar_length - filled)

        print(
            f"Epoch {epoch+1}/{self.total_epochs} | {percent:3d}% | [{bar}]  "
            f"loss: {logs.get('loss'):.4f} | mae: {logs.get('mae'):.4f} | "
            f"val_loss: {logs.get('val_loss'):.4f} | val_mae: {logs.get('val_mae'):.4f}"
        )

### Train the Model

In [772]:
callback = tf.keras.callbacks.EarlyStopping(
    monitor='val_loss',
    patience=10,
    restore_best_weights=True
)
history = model.fit(
    [X_train_locality, X_train_other],
    y_train,
    validation_split=0.2,
    epochs=100,
    batch_size=64,
    callbacks=[EpochProgressBar()],
    verbose=0    # hide default Keras output
)
model.save('model.h5')

Epoch 1/100 |   1% | [------------------------------]  loss: 0.0159 | mae: 0.0941 | val_loss: 0.1545 | val_mae: 0.2840
Epoch 2/100 |   2% | [------------------------------]  loss: 0.0163 | mae: 0.0957 | val_loss: 0.1490 | val_mae: 0.2775
Epoch 3/100 |   3% | [------------------------------]  loss: 0.0170 | mae: 0.0984 | val_loss: 0.1522 | val_mae: 0.2822
Epoch 4/100 |   4% | [â–ˆ-----------------------------]  loss: 0.0161 | mae: 0.0944 | val_loss: 0.1546 | val_mae: 0.2833
Epoch 5/100 |   5% | [â–ˆ-----------------------------]  loss: 0.0154 | mae: 0.0913 | val_loss: 0.1551 | val_mae: 0.2886
Epoch 6/100 |   6% | [â–ˆ-----------------------------]  loss: 0.0174 | mae: 0.0970 | val_loss: 0.1539 | val_mae: 0.2830
Epoch 7/100 |   7% | [â–ˆâ–ˆ----------------------------]  loss: 0.0141 | mae: 0.0908 | val_loss: 0.1498 | val_mae: 0.2789
Epoch 8/100 |   8% | [â–ˆâ–ˆ----------------------------]  loss: 0.0158 | mae: 0.0953 | val_loss: 0.1508 | val_mae: 0.2829
Epoch 9/100 |   9% | [â–ˆâ–ˆ----------------------------]  loss: 0.0147 | mae: 0.0912 | val_loss: 0.1577 | val_mae: 0.2885
Epoch 10/100 |  10% | [â–ˆâ–ˆâ–ˆ---------------------------]  loss: 0.0177 | mae: 0.1011 | val_loss: 0.1517 | val_mae: 0.2812
Epoch 11/100 |  11% | [â–ˆâ–ˆâ–ˆ---------------------------]  loss: 0.0169 | mae: 0.0952 | val_loss: 0.1570 | val_mae: 0.2876
Epoch 12/100 |  12% | [â–ˆâ–ˆâ–ˆ---------------------------]  loss: 0.0163 | mae: 0.0960 | val_loss: 0.1510 | val_mae: 0.2811
Epoch 13/100 |  13% | [â–ˆâ–ˆâ–ˆ---------------------------]  loss: 0.0158 | mae: 0.0943 | val_loss: 0.1537 | val_mae: 0.2840
Epoch 14/100 |  14% | [â–ˆâ–ˆâ–ˆâ–ˆ--------------------------]  loss: 0.0161 | mae: 0.0949 | val_loss: 0.1524 | val_mae: 0.2818
Epoch 15/100 |  15% | [â–ˆâ–ˆâ–ˆâ–ˆ--------------------------]  loss: 0.0158 | mae: 0.0938 | val_loss: 0.1518 | val_mae: 0.2816
Epoch 16/100 |  16% | [â–ˆâ–ˆâ–ˆâ–ˆ--------------------------]  loss: 0.0160 | mae: 0.0953 | val_loss: 0.1523 | val_mae: 0.2809
Epoch 17/100 |  17% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------------------------]  loss: 0.0139 | mae: 0.0885 | val_loss: 0.1482 | val_mae: 0.2764
Epoch 18/100 |  18% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------------------------]  loss: 0.0151 | mae: 0.0921 | val_loss: 0.1537 | val_mae: 0.2821
Epoch 19/100 |  19% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------------------------]  loss: 0.0139 | mae: 0.0887 | val_loss: 0.1525 | val_mae: 0.2815
Epoch 20/100 |  20% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------------------]  loss: 0.0151 | mae: 0.0898 | val_loss: 0.1566 | val_mae: 0.2866
Epoch 21/100 |  21% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------------------]  loss: 0.0139 | mae: 0.0888 | val_loss: 0.1595 | val_mae: 0.2896
Epoch 22/100 |  22% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------------------]  loss: 0.0137 | mae: 0.0884 | val_loss: 0.1535 | val_mae: 0.2820
Epoch 23/100 |  23% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------------------]  loss: 0.0146 | mae: 0.0905 | val_loss: 0.1550 | val_mae: 0.2833
Epoch 24/100 |  24% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------------------]  loss: 0.0142 | mae: 0.0899 | val_loss: 0.1542 | val_mae: 0.2841
Epoch 25/100 |  25% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------------------]  loss: 0.0160 | mae: 0.0924 | val_loss: 0.1598 | val_mae: 0.2867
Epoch 26/100 |  26% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------------------]  loss: 0.0166 | mae: 0.0948 | val_loss: 0.1498 | val_mae: 0.2780
Epoch 27/100 |  27% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------------------]  loss: 0.0151 | mae: 0.0919 | val_loss: 0.1529 | val_mae: 0.2805
Epoch 28/100 |  28% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------------------]  loss: 0.0173 | mae: 0.0983 | val_loss: 0.1561 | val_mae: 0.2838
Epoch 29/100 |  28% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------------------]  loss: 0.0161 | mae: 0.0954 | val_loss: 0.1548 | val_mae: 0.2857
Epoch 30/100 |  30% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------------------]  loss: 0.0146 | mae: 0.0903 | val_loss: 0.1596 | val_mae: 0.2882
Epoch 31/100 |  31% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------------------]  loss: 0.0161 | mae: 0.0953 | val_loss: 0.1563 | val_mae: 0.2848
Epoch 32/100 |  32% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------------------]  loss: 0.0145 | mae: 0.0912 | val_loss: 0.1557 | val_mae: 0.2864
Epoch 33/100 |  33% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------------------]  loss: 0.0153 | mae: 0.0929 | val_loss: 0.1571 | val_mae: 0.2884
Epoch 34/100 |  34% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------------------]  loss: 0.0136 | mae: 0.0883 | val_loss: 0.1543 | val_mae: 0.2820
Epoch 35/100 |  35% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------------------]  loss: 0.0154 | mae: 0.0923 | val_loss: 0.1531 | val_mae: 0.2818
Epoch 36/100 |  36% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------------------]  loss: 0.0130 | mae: 0.0851 | val_loss: 0.1551 | val_mae: 0.2846
Epoch 37/100 |  37% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------------------]  loss: 0.0128 | mae: 0.0844 | val_loss: 0.1528 | val_mae: 0.2825
Epoch 38/100 |  38% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------------------]  loss: 0.0149 | mae: 0.0926 | val_loss: 0.1591 | val_mae: 0.2896
Epoch 39/100 |  39% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------------------]  loss: 0.0154 | mae: 0.0932 | val_loss: 0.1604 | val_mae: 0.2883
Epoch 40/100 |  40% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------------]  loss: 0.0131 | mae: 0.0861 | val_loss: 0.1545 | val_mae: 0.2835
Epoch 41/100 |  41% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------------]  loss: 0.0157 | mae: 0.0949 | val_loss: 0.1552 | val_mae: 0.2833
Epoch 42/100 |  42% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------------]  loss: 0.0150 | mae: 0.0925 | val_loss: 0.1568 | val_mae: 0.2854
Epoch 43/100 |  43% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------------]  loss: 0.0142 | mae: 0.0867 | val_loss: 0.1573 | val_mae: 0.2852
Epoch 44/100 |  44% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------------]  loss: 0.0145 | mae: 0.0896 | val_loss: 0.1570 | val_mae: 0.2858
Epoch 45/100 |  45% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------------]  loss: 0.0129 | mae: 0.0861 | val_loss: 0.1520 | val_mae: 0.2795
Epoch 46/100 |  46% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------------]  loss: 0.0158 | mae: 0.0927 | val_loss: 0.1530 | val_mae: 0.2820
Epoch 47/100 |  47% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------------]  loss: 0.0147 | mae: 0.0922 | val_loss: 0.1532 | val_mae: 0.2830
Epoch 48/100 |  48% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------------]  loss: 0.0150 | mae: 0.0909 | val_loss: 0.1560 | val_mae: 0.2850
Epoch 49/100 |  49% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------------]  loss: 0.0140 | mae: 0.0871 | val_loss: 0.1566 | val_mae: 0.2854
Epoch 50/100 |  50% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------------]  loss: 0.0176 | mae: 0.1010 | val_loss: 0.1597 | val_mae: 0.2915
Epoch 51/100 |  51% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------------]  loss: 0.0143 | mae: 0.0915 | val_loss: 0.1566 | val_mae: 0.2856
Epoch 52/100 |  52% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------------]  loss: 0.0132 | mae: 0.0855 | val_loss: 0.1533 | val_mae: 0.2824
Epoch 53/100 |  53% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------------]  loss: 0.0141 | mae: 0.0895 | val_loss: 0.1617 | val_mae: 0.2913
Epoch 54/100 |  54% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------------]  loss: 0.0136 | mae: 0.0876 | val_loss: 0.1585 | val_mae: 0.2866
Epoch 55/100 |  55% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------------]  loss: 0.0138 | mae: 0.0876 | val_loss: 0.1537 | val_mae: 0.2825
Epoch 56/100 |  56% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------------]  loss: 0.0129 | mae: 0.0857 | val_loss: 0.1550 | val_mae: 0.2841
Epoch 57/100 |  56% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------------]  loss: 0.0140 | mae: 0.0888 | val_loss: 0.1549 | val_mae: 0.2830
Epoch 58/100 |  57% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------------]  loss: 0.0134 | mae: 0.0857 | val_loss: 0.1545 | val_mae: 0.2834
Epoch 59/100 |  59% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------------]  loss: 0.0135 | mae: 0.0873 | val_loss: 0.1641 | val_mae: 0.2928
Epoch 60/100 |  60% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------]  loss: 0.0138 | mae: 0.0891 | val_loss: 0.1690 | val_mae: 0.2994
Epoch 61/100 |  61% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------]  loss: 0.0123 | mae: 0.0836 | val_loss: 0.1551 | val_mae: 0.2846
Epoch 62/100 |  62% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------]  loss: 0.0135 | mae: 0.0857 | val_loss: 0.1617 | val_mae: 0.2906
Epoch 63/100 |  63% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------]  loss: 0.0133 | mae: 0.0858 | val_loss: 0.1605 | val_mae: 0.2880
Epoch 64/100 |  64% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------]  loss: 0.0138 | mae: 0.0879 | val_loss: 0.1582 | val_mae: 0.2867
Epoch 65/100 |  65% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------]  loss: 0.0136 | mae: 0.0854 | val_loss: 0.1586 | val_mae: 0.2880
Epoch 66/100 |  66% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------]  loss: 0.0137 | mae: 0.0866 | val_loss: 0.1591 | val_mae: 0.2888
Epoch 67/100 |  67% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------]  loss: 0.0128 | mae: 0.0862 | val_loss: 0.1554 | val_mae: 0.2852
Epoch 68/100 |  68% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------]  loss: 0.0146 | mae: 0.0896 | val_loss: 0.1609 | val_mae: 0.2880
Epoch 69/100 |  69% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------]  loss: 0.0134 | mae: 0.0876 | val_loss: 0.1598 | val_mae: 0.2887
Epoch 70/100 |  70% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------]  loss: 0.0135 | mae: 0.0870 | val_loss: 0.1565 | val_mae: 0.2853
Epoch 71/100 |  71% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------]  loss: 0.0125 | mae: 0.0837 | val_loss: 0.1543 | val_mae: 0.2822
Epoch 72/100 |  72% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------]  loss: 0.0127 | mae: 0.0844 | val_loss: 0.1534 | val_mae: 0.2859
Epoch 73/100 |  73% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------]  loss: 0.0130 | mae: 0.0857 | val_loss: 0.1537 | val_mae: 0.2827
Epoch 74/100 |  74% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------]  loss: 0.0144 | mae: 0.0861 | val_loss: 0.1591 | val_mae: 0.2887
Epoch 75/100 |  75% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------]  loss: 0.0133 | mae: 0.0873 | val_loss: 0.1526 | val_mae: 0.2823
Epoch 76/100 |  76% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------]  loss: 0.0137 | mae: 0.0869 | val_loss: 0.1635 | val_mae: 0.2938
Epoch 77/100 |  77% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------]  loss: 0.0134 | mae: 0.0858 | val_loss: 0.1551 | val_mae: 0.2856
Epoch 78/100 |  78% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------]  loss: 0.0153 | mae: 0.0933 | val_loss: 0.1689 | val_mae: 0.2994
Epoch 79/100 |  79% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------]  loss: 0.0129 | mae: 0.0852 | val_loss: 0.1606 | val_mae: 0.2903
Epoch 80/100 |  80% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------]  loss: 0.0124 | mae: 0.0824 | val_loss: 0.1609 | val_mae: 0.2908
Epoch 81/100 |  81% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------]  loss: 0.0120 | mae: 0.0824 | val_loss: 0.1530 | val_mae: 0.2827
Epoch 82/100 |  82% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------]  loss: 0.0139 | mae: 0.0890 | val_loss: 0.1643 | val_mae: 0.2931
Epoch 83/100 |  83% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------]  loss: 0.0132 | mae: 0.0839 | val_loss: 0.1575 | val_mae: 0.2855
Epoch 84/100 |  84% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----]  loss: 0.0123 | mae: 0.0822 | val_loss: 0.1564 | val_mae: 0.2835
Epoch 85/100 |  85% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----]  loss: 0.0128 | mae: 0.0856 | val_loss: 0.1660 | val_mae: 0.2948
Epoch 86/100 |  86% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----]  loss: 0.0149 | mae: 0.0894 | val_loss: 0.1640 | val_mae: 0.2919
Epoch 87/100 |  87% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----]  loss: 0.0142 | mae: 0.0882 | val_loss: 0.1555 | val_mae: 0.2836
Epoch 88/100 |  88% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----]  loss: 0.0135 | mae: 0.0868 | val_loss: 0.1540 | val_mae: 0.2817
Epoch 89/100 |  89% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----]  loss: 0.0124 | mae: 0.0835 | val_loss: 0.1602 | val_mae: 0.2894
Epoch 90/100 |  90% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---]  loss: 0.0122 | mae: 0.0830 | val_loss: 0.1559 | val_mae: 0.2835
Epoch 91/100 |  91% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---]  loss: 0.0123 | mae: 0.0824 | val_loss: 0.1552 | val_mae: 0.2828
Epoch 92/100 |  92% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---]  loss: 0.0125 | mae: 0.0835 | val_loss: 0.1590 | val_mae: 0.2860
Epoch 93/100 |  93% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---]  loss: 0.0129 | mae: 0.0841 | val_loss: 0.1610 | val_mae: 0.2886
Epoch 94/100 |  94% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--]  loss: 0.0115 | mae: 0.0780 | val_loss: 0.1603 | val_mae: 0.2888
Epoch 95/100 |  95% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--]  loss: 0.0132 | mae: 0.0833 | val_loss: 0.1543 | val_mae: 0.2823
Epoch 96/100 |  96% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--]  loss: 0.0127 | mae: 0.0858 | val_loss: 0.1558 | val_mae: 0.2836
Epoch 97/100 |  97% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-]  loss: 0.0115 | mae: 0.0807 | val_loss: 0.1579 | val_mae: 0.2859
Epoch 98/100 |  98% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-]  loss: 0.0124 | mae: 0.0825 | val_loss: 0.1640 | val_mae: 0.2903
Epoch 99/100 |  99% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-]  loss: 0.0126 | mae: 0.0818 | val_loss: 0.1521 | val_mae: 0.2809

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Epoch 100/100 | 100% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ]  loss: 0.0129 | mae: 0.0867 | val_loss: 0.1563 | val_mae: 0.2851

In [769]:
from sklearn.metrics import r2_score
import numpy as np

# Predictions (log scale â†’ convert back)
log_preds = model.predict([X_test_locality, X_test_other])
preds = np.expm1(log_preds)
actual = np.expm1(y_test)
loss, mae = model.evaluate(
    [X_test_locality, X_test_other],
    y_test
)


r2 = r2_score(actual, preds)
print("RÂ² Score:", r2)

print("MAE:", mae)
print("RMSE:", loss ** 0.5)
print("Accuracy:", r2 * 100, "%")

30/30 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 6ms/step
30/30 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 2ms/step - loss: 0.1355 - mae: 0.2778
RÂ² Score: 0.7937959995005207
MAE: 0.2777693271636963
RMSE: 0.3681031639669396
Accuracy: 79.37959995005207 %