In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\sm803\OneDrive\Desktop\ALL ML PROJECTS\Hose Price Prediction\Data\House_Rent_Dataset.csv")

In [4]:
df.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Posted On          4746 non-null   object
 1   BHK                4746 non-null   int64
 2   Rent               4746 non-null   int64
 3   Size               4746 non-null   int64
 4   Floor              4746 non-null   object
 5   Area Type          4746 non-null   object
 6   Area Locality      4746 non-null   object
 7   City               4746 non-null   object
 8   Furnishing Status  4746 non-null   object
 9   Tenant Preferred   4746 non-null   object
 10  Bathroom           4746 non-null   int64
 11  Point of Contact   4746 non-null   object
dtypes: int64(4), object(8)
memory usage: 445.1+ KB

In [6]:
df.nunique()

Posted On              81
BHK                     6
Rent                  243
Size                  615
Floor                 480
Area Type               3
Area Locality        2235
City                    6
Furnishing Status       3
Tenant Preferred        3
Bathroom                8
Point of Contact        3
dtype: int64

In [7]:
df=df.drop(['Posted On','Point of Contact'],axis=1)

In [8]:
df.head()

,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom
0,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2
1,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1
2,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1
3,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1
4,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1

In [9]:
df['Floor'].unique()

array(['Ground out of 2', '1 out of 3', '1 out of 2', 'Ground out of 1',
       'Ground out of 4', '1 out of 4', '1 out of 1', 'Ground out of 3',
       '2 out of 3', '4 out of 5', '2 out of 2', '2 out of 5',
       '4 out of 14', '3 out of 3', '5 out of 5', '4 out of 4',
       '7 out of 8', '2 out of 4', '3 out of 4', '1 out of 5',
       '8 out of 5', 'Ground out of 6', '2 out of 1',
       'Upper Basement out of 4', 'Ground out of 5', '3 out of 5',
       '11 out of 19', '5 out of 10', '11 out of 14',
       'Lower Basement out of 2', '2 out of 7', '4 out of 10',
       '7 out of 10', '2 out of 13', '6 out of 7', '4 out of 7',
       '14 out of 14', '43 out of 78', '2 out of 8', '13 out of 18',
       '5 out of 12', '18 out of 24', '3 out of 7', '17 out of 31',
       '11 out of 21', '7 out of 19', '14 out of 23', '9 out of 20',
       'Upper Basement out of 9', '19 out of 24', '3 out of 21',
       '1 out of 22', '8 out of 8', '6 out of 12', '4 out of 58',
       'Upper Basement out of 16', '60 out of 66', '34 out of 48',
       '5 out of 8', '5 out of 14', '14 out of 40', '5 out of 7',
       '9 out of 22', '12 out of 18', '26 out of 44', '1 out of 8',
       '25 out of 42', '25 out of 41', '53 out of 78', 'Ground out of 7',
       '14 out of 20', '13 out of 20', '16 out of 23', '10 out of 18',
       '39 out of 60', '16 out of 21', '10 out of 32', '4 out of 8',
       '12 out of 24', '32 out of 41', '3 out of 30', '13 out of 21',
       '9 out of 29', '47 out of 89', '7 out of 41', '28 out of 30',
       '13 out of 15', '6 out of 21', '8 out of 16', '2 out of 6',
       '5 out of 19', '3 out of 11', '17 out of 42', '10 out of 12',
       '8 out of 28', '9 out of 15', '14 out of 22', '18 out of 40',
       '9 out of 17', '12 out of 45', '25 out of 35', '7 out of 15',
       '10 out of 16', 'Upper Basement out of 20', '5 out of 20',
       'Upper Basement out of 40', '5 out of 18', '34 out of 58',
       '4 out of 6', '20 out of 22', '12 out of 19', '15 out of 18',
       '65 out of 78', '6 out of 16', '17 out of 22', '6 out of 24',
       '40 out of 75', '19 out of 38', '15 out of 31', '11 out of 28',
       '10 out of 22', '17 out of 24', '15 out of 19', '9 out of 10',
       '7 out of 12', '8 out of 20', '11 out of 13', '9 out of 19',
       '37 out of 51', '6 out of 11', '8 out of 15', '11 out of 20',
       '10 out of 23', 'Upper Basement out of 10', '7 out of 23',
       '4 out of 11', '17 out of 43', '7 out of 22', '14 out of 18',
       '6 out of 10', '8 out of 12', '3 out of 18', '7 out of 7',
       '14 out of 58', '18 out of 23', '19 out of 19', '13 out of 14',
       '7 out of 11', '11 out of 22', 'Upper Basement out of 30',
       '12 out of 14', '16 out of 31', '12 out of 13', '11 out of 51',
       '2 out of 12', '22 out of 24', '7 out of 14', '5 out of 13',
       '7 out of 21', '14 out of 21', '17 out of 25', '9 out of 14',
       '8 out of 27', '3 out of 6', '17 out of 20', '18 out of 22',
       '1 out of 7', '9 out of 30', '3 out of 8', '11 out of 26',
       '17 out of 27', '4 out of 12', '12 out of 16', '10 out of 24',
       '65 out of 76', '7 out of 9', '17 out of 60', '10 out of 11',
       '18 out of 25', '5 out of 11', '15 out of 17', '15 out of 23',
       '5 out of 17', '3 out of 28', '5 out of 24', '16 out of 32',
       '21 out of 22', '7 out of 13', '9 out of 12', '15 out of 32',
       '18 out of 27', '15 out of 16', '18 out of 45', '15 out of 15',
       '6 out of 14', '1 out of 20', '16 out of 36', '30 out of 44',
       '30 out of 37', '2 out of 9', '12 out of 22', '4 out of 9',
       '2 out of 22', '5 out of 6', '6 out of 18', '35 out of 55',
       '16 out of 29', '30 out of 45', '5 out of 9', '16 out of 25',
       '33 out of 42', '4 out of 16', '13 out of 23', '9 out of 38',
       '6 out of 8', '8 out of 13', '19 out of 30', '10 out of 14',
       '11 out of 24', '9 out of 16', '9 out of 31', '4 out of 15',
       '3 out of 9', '22 out of 30', '3 out of 58', '1 out of 9',
       '53 out of 60', '5 out of 22', '15 out of 22', '19 out of 21',
       '9 out of 40', 'Ground out of 8', '44 out of 75', '8 out of 17',
       '3 out of 14', '12 out of 31', '26 out of 42', '2 out of 45',
       '12 out of 68', '17 out of 36', '10 out of 28', '41 out of 41',
       '14 out of 68', '14 out of 17', '15 out of 20', '46 out of 76',
       '12 out of 20', '20 out of 30', '18 out of 32', '10 out of 25',
       '17 out of 29', '10 out of 31', '10 out of 15', '13 out of 16',
       '8 out of 10', '18 out of 21', '27 out of 58', '1 out of 6',
       '19 out of 25', '3 out of 15', '25 out of 43', '8 out of 14',
       '11 out of 12', '9 out of 21', '10 out of 13', '45 out of 77',
       '18 out of 19', '10 out of 20', '12 out of 29',
       'Lower Basement out of 18', '15 out of 24', '48 out of 68',
       '12 out of 42', '16 out of 22', '35 out of 68', '18 out of 30',
       '11 out of 31', '50 out of 75', '18 out of 26', '12 out of 27',
       '16 out of 20', '24 out of 55', '16 out of 37',
       'Upper Basement out of 7', '6 out of 15', '11 out of 27',
       '11 out of 23', '3 out of 12', '14 out of 15', '23 out of 25',
       '14 out of 48', '29 out of 35', '15 out of 36', '15 out of 25',
       '15 out of 28', '3 out of 36', '8 out of 11', '6 out of 20',
       '23 out of 23', '5 out of 15', '16 out of 18', '2 out of 10',
       '40 out of 50', '25 out of 28', '12 out of 17', '34 out of 40',
       'Upper Basement out of 22', '8 out of 23', '5 out of 21',
       '32 out of 59', '20 out of 32', '9 out of 18', '10 out of 37',
       '25 out of 48', '4 out of 22', '8 out of 18', '11 out of 11',
       '5 out of 23', '60 out of 77', '11 out of 18', '4 out of 20',
       '5 out of 16', '3 out of 13', '30 out of 58', '15 out of 43',
       '7 out of 16', '18 out of 28', '9 out of 55', '11 out of 25',
       '49 out of 55', '7 out of 27', '14 out of 27', '16 out of 27',
       '25 out of 50', '6 out of 30', '21 out of 23', '8 out of 58',
       '20 out of 41', '3 out of 62', '4 out of 13', '7 out of 17',
       '12 out of 21', '28 out of 39', '15 out of 58', '6 out of 23',
       '36 out of 45', '9 out of 28', '6 out of 45', '22 out of 52',
       '10 out of 19', '21 out of 58', '48 out of 54', '7 out of 28',
       '11 out of 15', '19 out of 22', '15 out of 37', '2 out of 17',
       '76 out of 78', '3 out of 10', '20 out of 27', '8 out of 36',
       '14 out of 33', '21 out of 21', '12 out of 25', '18 out of 29',
       '14 out of 35', '7 out of 20', '20 out of 37', '9 out of 35',
       '27 out of 27', '15 out of 60', '19 out of 33', '18 out of 20',
       '13 out of 40', '9 out of 11', '8 out of 22', '6 out of 13',
       '20 out of 31', '27 out of 45', '19 out of 20', '32 out of 46',
       '19 out of 85', '3 out of 23', '34 out of 46', '4 out of 27',
       '19 out of 27', '35 out of 60', '21 out of 33', '25 out of 52',
       '2 out of 24', '24 out of 24', '18 out of 33', '1 out of 10',
       '45 out of 60', '60 out of 71', '36 out of 81', '24 out of 60',
       '16 out of 38', '8 out of 45', 'Ground out of 16', '8 out of 32',
       '10 out of 10', '23 out of 40', '7 out of 18', '8 out of 19',
       '6 out of 17', '16 out of 34', 'Ground out of 12', '6 out of 9',
       'Ground out of 18', '20 out of 25', '3 out of 22', '9 out of 32',
       '26 out of 32', '17 out of 18', '24 out of 25', '19 out of 26',
       '17 out of 19', '1 out of 13', '14 out of 30', '8 out of 9',
       '3 out of 17', 'Lower Basement out of 3', '12 out of 23',
       'Ground out of 9', '1 out of 24', '1 out of 12', '3', 'Ground',
       '15 out of 29', '20 out of 20', '14 out of 29',
       'Lower Basement out of 1', '13 out of 17', '1 out of 14',
       'Upper Basement out of 2', '2 out of 14', '24 out of 31',
       '2 out of 32', '2 out of 16', '9 out of 13', '1 out of 11',
       '6 out of 29', '9 out of 9', '28 out of 31', '1 out of 15',
       'Ground out of 14', '2 out of 11', '19 out of 31', '1 out of 16',
       '25 out of 32', '11 out of 16', '11 out of 17',
       'Upper Basement out of 3', '4 out of 24', '1 out of 19',
       '7 out of 30', '16 out of 19', 'Upper Basement out of 5',
       'Ground out of 13', '2 out of 25', '23 out of 30', '4 out of 30',
       '13 out of 25', '23 out of 35', 'Ground out of 10', '5 out of 34',
       '20 out of 35', '1', '4 out of 31', '4 out of 26', '24 out of 33',
       '4 out of 17', '1 out of 35', '11 out of 35', 'Ground out of 15',
       'Ground out of 27', '15 out of 30', '12 out of 30', '23 out of 34'],
      dtype=object)

In [10]:
def process_floor(x):
    x = x.lower().strip()

    # Case 1: Ground floor
    if "ground" in x:
        # Example: "ground out of 4"
        parts = x.split()
        total = int(parts[-1]) if parts[-1].isdigit() else None
        return pd.Series([0, total])

    # Case 2: Upper Basement
    if "upper basement" in x:
        return pd.Series([-1, None])

    # Case 3: Lower Basement
    if "lower basement" in x:
        return pd.Series([-2, None])

    # Case 4: Normal floors like "3 out of 12"
    parts = x.split()
    
    try:
        current = int(parts[0])          # '3'
        total = int(parts[-1])           # '12'
    except:
        # If some weird format appears, fallback
        current = None
        total = None

    return pd.Series([current, total])

In [11]:
df[["Current_Floor", "Total_Floors"]] = df["Floor"].apply(process_floor)
df = df.drop(columns=["Floor"])

In [12]:
df.head()

,BHK,Rent,Size,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Current_Floor,Total_Floors
0,2,10000,1100,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,0.0,2.0
1,2,20000,800,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,1.0,3.0
2,2,17000,1000,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,1.0,3.0
3,2,10000,800,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,1.0,2.0
4,2,7500,850,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,1.0,2.0

In [13]:
df['Tenant Preferred'].unique()

array(['Bachelors/Family', 'Bachelors', 'Family'], dtype=object)

In [14]:
import pandas as pd

def encode_tenant(x):
    x = x.lower().strip()

    # Initial binary values
    b = 1 if "bachelor" in x else 0
    f = 1 if "family" in x else 0

    return pd.Series([b, f])

df[["bachelor", "family"]] = df["Tenant Preferred"].apply(encode_tenant)
df.drop('Tenant Preferred',axis=1,inplace=True)
df.head()

,BHK,Rent,Size,Area Type,Area Locality,City,Furnishing Status,Bathroom,Current_Floor,Total_Floors,bachelor,family
0,2,10000,1100,Super Area,Bandel,Kolkata,Unfurnished,2,0.0,2.0,1,1
1,2,20000,800,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,1,1.0,3.0,1,1
2,2,17000,1000,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,1,1.0,3.0,1,1
3,2,10000,800,Super Area,Dumdum Park,Kolkata,Unfurnished,1,1.0,2.0,1,1
4,2,7500,850,Carpet Area,South Dum Dum,Kolkata,Unfurnished,1,1.0,2.0,1,0

In [15]:
df.nunique(),df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   BHK                4746 non-null   int64
 1   Rent               4746 non-null   int64
 2   Size               4746 non-null   int64
 3   Area Type          4746 non-null   object
 4   Area Locality      4746 non-null   object
 5   City               4746 non-null   object
 6   Furnishing Status  4746 non-null   object
 7   Bathroom           4746 non-null   int64
 8   Current_Floor      4746 non-null   float64
 9   Total_Floors       4711 non-null   float64
 10  bachelor           4746 non-null   int64
 11  family             4746 non-null   int64
dtypes: float64(2), int64(6), object(4)
memory usage: 445.1+ KB

(BHK                     6
 Rent                  243
 Size                  615
 Area Type               3
 Area Locality        2235
 City                    6
 Furnishing Status       3
 Bathroom                8
 Current_Floor          54
 Total_Floors           66
 bachelor                2
 family                  2
 dtype: int64,
 None)

In [16]:
# df.head()
df['Original_Locality'] = df['Area Locality']

In [17]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
onehot_column=['Area Type','City','Furnishing Status']
label_column=['Area Locality']
onehot_encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

# Fit-transform on correct columns
one_encoded = onehot_encoder.fit_transform(df[onehot_column])

# Create dataframe WITH INDEX PRESERVED
encoded_df = pd.DataFrame(
    one_encoded,
    columns = onehot_encoder.get_feature_names_out(onehot_column),
    index = df.index     # <<<<< THIS FIXES THE PROBLEM
)

# Drop original columns and concat
df = pd.concat([df.drop(columns=onehot_column), encoded_df], axis=1)

In [18]:
onehot_column=['Area Type','City','Furnishing Status']
label_column=['Area Locality']

lb_encoder=LabelEncoder()
# onehot_encoder=OneHotEncoder()


# one_encoded=onehot_encoder.fit_transform(df[onehot_column])

# encoded_df = pd.DataFrame(one_encoded.toarray(), columns=onehot_encoder.get_feature_names_out(onehot_column))

# df = df.drop(columns=onehot_column)
# df = pd.concat([df, encoded_df], axis=1)

df['Locality_ID'] = lb_encoder.fit_transform(df['Original_Locality'])

df.drop(columns=['Original_Locality', 'Area Locality'], inplace=True)

In [19]:
import pickle

with open('lb_encoder.pkl','wb') as file:
    pickle.dump(lb_encoder,file)

with open('one_encoder.pkl','wb')as file:
    pickle.dump(onehot_encoder,file)

In [20]:
df.head()

,BHK,Rent,Size,Bathroom,Current_Floor,Total_Floors,bachelor,family,Area Type_Built Area,Area Type_Carpet Area,...,City_Bangalore,City_Chennai,City_Delhi,City_Hyderabad,City_Kolkata,City_Mumbai,Furnishing Status_Furnished,Furnishing Status_Semi-Furnished,Furnishing Status_Unfurnished,Locality_ID
0,2,10000,1100,2,0.0,2.0,1,1,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,221
1,2,20000,800,1,1.0,3.0,1,1,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1527
2,2,17000,1000,1,1.0,3.0,1,1,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1760
3,2,10000,800,1,1.0,2.0,1,1,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,526
4,2,7500,850,1,1.0,2.0,1,0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1890

In [21]:
df.isnull().sum()

BHK                                  0
Rent                                 0
Size                                 0
Bathroom                             0
Current_Floor                        0
Total_Floors                        35
bachelor                             0
family                               0
Area Type_Built Area                 0
Area Type_Carpet Area                0
Area Type_Super Area                 0
City_Bangalore                       0
City_Chennai                         0
City_Delhi                           0
City_Hyderabad                       0
City_Kolkata                         0
City_Mumbai                          0
Furnishing Status_Furnished          0
Furnishing Status_Semi-Furnished     0
Furnishing Status_Unfurnished        0
Locality_ID                          0
dtype: int64

In [22]:
df['Total_Floors'].fillna(df['Total_Floors'].median(), inplace=True)

C:\Users\sm803\AppData\Local\Temp\ipykernel_2192\1101042050.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Total_Floors'].fillna(df['Total_Floors'].median(), inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4746 entries, 0 to 4745
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   BHK                               4746 non-null   int64
 1   Rent                              4746 non-null   int64
 2   Size                              4746 non-null   int64
 3   Bathroom                          4746 non-null   int64
 4   Current_Floor                     4746 non-null   float64
 5   Total_Floors                      4746 non-null   float64
 6   bachelor                          4746 non-null   int64
 7   family                            4746 non-null   int64
 8   Area Type_Built Area              4746 non-null   float64
 9   Area Type_Carpet Area             4746 non-null   float64
 10  Area Type_Super Area              4746 non-null   float64
 11  City_Bangalore                    4746 non-null   float64
 12  City_Chennai                      4746 non-null   float64
 13  City_Delhi                        4746 non-null   float64
 14  City_Hyderabad                    4746 non-null   float64
 15  City_Kolkata                      4746 non-null   float64
 16  City_Mumbai                       4746 non-null   float64
 17  Furnishing Status_Furnished       4746 non-null   float64
 18  Furnishing Status_Semi-Furnished  4746 non-null   float64
 19  Furnishing Status_Unfurnished     4746 non-null   float64
 20  Locality_ID                       4746 non-null   int64
dtypes: float64(14), int64(7)
memory usage: 778.8 KB

In [24]:
import numpy as np
df['LogRent'] = np.log1p(df['Rent'])

In [25]:
df.isnull().sum()

BHK                                 0
Rent                                0
Size                                0
Bathroom                            0
Current_Floor                       0
Total_Floors                        0
bachelor                            0
family                              0
Area Type_Built Area                0
Area Type_Carpet Area               0
Area Type_Super Area                0
City_Bangalore                      0
City_Chennai                        0
City_Delhi                          0
City_Hyderabad                      0
City_Kolkata                        0
City_Mumbai                         0
Furnishing Status_Furnished         0
Furnishing Status_Semi-Furnished    0
Furnishing Status_Unfurnished       0
Locality_ID                         0
LogRent                             0
dtype: int64

In [26]:
df.head()

,BHK,Rent,Size,Bathroom,Current_Floor,Total_Floors,bachelor,family,Area Type_Built Area,Area Type_Carpet Area,...,City_Chennai,City_Delhi,City_Hyderabad,City_Kolkata,City_Mumbai,Furnishing Status_Furnished,Furnishing Status_Semi-Furnished,Furnishing Status_Unfurnished,Locality_ID,LogRent
0,2,10000,1100,2,0.0,2.0,1,1,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,221,9.210440
1,2,20000,800,1,1.0,3.0,1,1,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1527,9.903538
2,2,17000,1000,1,1.0,3.0,1,1,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1760,9.741027
3,2,10000,800,1,1.0,2.0,1,1,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,526,9.210440
4,2,7500,850,1,1.0,2.0,1,0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1890,8.922792

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np

# --------- Features + target ---------
X = df.drop(['Rent','LogRent'], axis=1)
y = df['LogRent']

# --------- Train-test split ---------
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# --------- Separate Locality_ID ---------
X_train_locality = X_train['Locality_ID'].values
X_test_locality = X_test['Locality_ID'].values

# --------- Define numeric columns ---------
numeric_cols = ['BHK', 'Size', 'Bathroom', 'Current_Floor', 'Total_Floors']

# --------- Scale ONLY numeric columns ---------
scaler = StandardScaler()

X_train_scaled_numeric = scaler.fit_transform(X_train[numeric_cols])
X_test_scaled_numeric = scaler.transform(X_test[numeric_cols])

# --------- Categorical columns (DO NOT SCALE) ---------
categorical_cols = X_train.drop(columns=numeric_cols + ['Locality_ID']).columns

X_train_categorical = X_train[categorical_cols].values
X_test_categorical = X_test[categorical_cols].values

# --------- Combine numeric + categorical ---------
X_train_other = np.hstack([X_train_scaled_numeric, X_train_categorical])
X_test_other = np.hstack([X_test_scaled_numeric, X_test_categorical])


with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [28]:
categorical_cols

Index(['bachelor', 'family', 'Area Type_Built Area', 'Area Type_Carpet Area',
       'Area Type_Super Area', 'City_Bangalore', 'City_Chennai', 'City_Delhi',
       'City_Hyderabad', 'City_Kolkata', 'City_Mumbai',
       'Furnishing Status_Furnished', 'Furnishing Status_Semi-Furnished',
       'Furnishing Status_Unfurnished'],
      dtype='object')

### ANN model make and train

In [29]:
import tensorflow as tf
from tensorflow.keras.layers import Input, Embedding, Dense, Flatten, Concatenate, Dropout, BatchNormalization
from tensorflow.keras.models import Model

In [30]:
df['Locality_ID'].nunique()

2235

In [31]:
# Number of unique locality IDs
num_localities = df['Locality_ID'].nunique()
embedding_dim = 32  # good dimension for 2k+ categorie

In [32]:
# -------- Locality Input (Embedding) --------
locality_input = Input(shape=(1,), name="Locality_Input")
locality_embed = Embedding(input_dim=num_localities, output_dim=embedding_dim)(locality_input)
locality_embed = Flatten()(locality_embed)

In [33]:
locality_embed.shape

(None, 32)

In [34]:

# -------- Other numeric + one-hot features --------
other_input = Input(shape=(X_train_other.shape[1],), name="Other_Features")

In [35]:
# -------- Combine --------
x = Concatenate()([locality_embed, other_input])

In [36]:
x

In [37]:
# -------- Dense Layers --------
x = Dense(256, activation="relu")(x)
x = BatchNormalization()(x)
x = Dropout(0.3)(x)

In [38]:
x = Dense(128, activation="relu")(x)
x = BatchNormalization()(x)
x = Dropout(0.2)(x)

x = Dense(64, activation="relu")(x)

In [39]:

# -------- Output Layer --------
output = Dense(1, activation='linear')(x)

model = Model(inputs=[locality_input, other_input], outputs=output)

model.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
    loss='mse',
    metrics=['mae']
)

model.summary()

Model: "functional"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)        â”ƒ Output Shape      â”ƒ    Param # â”ƒ Connected to      â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ Locality_Input      â”‚ (None, 1)         â”‚          0 â”‚ -                 â”‚
â”‚ (InputLayer)        â”‚                   â”‚            â”‚                   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ embedding           â”‚ (None, 1, 32)     â”‚     71,520 â”‚ Locality_Input[0â€¦ â”‚
â”‚ (Embedding)         â”‚                   â”‚            â”‚                   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ flatten (Flatten)   â”‚ (None, 32)        â”‚          0 â”‚ embedding[0][0]   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ Other_Features      â”‚ (None, 19)        â”‚          0 â”‚ -                 â”‚
â”‚ (InputLayer)        â”‚                   â”‚            â”‚                   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ concatenate         â”‚ (None, 51)        â”‚          0 â”‚ flatten[0][0],    â”‚
â”‚ (Concatenate)       â”‚                   â”‚            â”‚ Other_Features[0â€¦ â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense (Dense)       â”‚ (None, 256)       â”‚     13,312 â”‚ concatenate[0][0] â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ batch_normalization â”‚ (None, 256)       â”‚      1,024 â”‚ dense[0][0]       â”‚
â”‚ (BatchNormalizatioâ€¦ â”‚                   â”‚            â”‚                   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dropout (Dropout)   â”‚ (None, 256)       â”‚          0 â”‚ batch_normalizatâ€¦ â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_1 (Dense)     â”‚ (None, 128)       â”‚     32,896 â”‚ dropout[0][0]     â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ batch_normalizatioâ€¦ â”‚ (None, 128)       â”‚        512 â”‚ dense_1[0][0]     â”‚
â”‚ (BatchNormalizatioâ€¦ â”‚                   â”‚            â”‚                   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dropout_1 (Dropout) â”‚ (None, 128)       â”‚          0 â”‚ batch_normalizatâ€¦ â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_2 (Dense)     â”‚ (None, 64)        â”‚      8,256 â”‚ dropout_1[0][0]   â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_3 (Dense)     â”‚ (None, 1)         â”‚         65 â”‚ dense_2[0][0]     â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 127,585 (498.38 KB)

 Trainable params: 126,817 (495.38 KB)

 Non-trainable params: 768 (3.00 KB)

In [40]:
from tensorflow.keras.callbacks import Callback

class EpochProgressBar(Callback):
    def on_train_begin(self, logs=None):
        self.total_epochs = self.params['epochs']

    def on_epoch_end(self, epoch, logs=None):
        logs = logs or {}
        
        # percentage complete
        percent = int(((epoch + 1) / self.total_epochs) * 100)

        # progress bar visual
        bar_length = 30
        filled = int(bar_length * percent / 100)
        bar = 'â–ˆ' * filled + '-' * (bar_length - filled)

        print(
            f"Epoch {epoch+1}/{self.total_epochs} | {percent:3d}% | [{bar}]  "
            f"loss: {logs.get('loss'):.4f} | mae: {logs.get('mae'):.4f} | "
            f"val_loss: {logs.get('val_loss'):.4f} | val_mae: {logs.get('val_mae'):.4f}"
        )

### Train the Model

In [ ]:
callback = Å«(
    monitor='val_loss',
    patience=10,
    restore_best_weights=True
)
history = model.fit(
    [X_train_locality, X_train_other],
    y_train,
    validation_split=0.2,
    epochs=100,
    batch_size=64,
    callbacks=[EpochProgressBar()],
    verbose=0    # hide default Keras output
)
model.save('model.h5')

Epoch 1/100 |   1% | [------------------------------]  loss: 31.2778 | mae: 4.7725 | val_loss: 51.8518 | val_mae: 7.1379
Epoch 2/100 |   2% | [------------------------------]  loss: 2.0260 | mae: 1.1232 | val_loss: 22.8312 | val_mae: 4.7115
Epoch 3/100 |   3% | [------------------------------]  loss: 1.4036 | mae: 0.9347 | val_loss: 9.5321 | val_mae: 2.9450
Epoch 4/100 |   4% | [â–ˆ-----------------------------]  loss: 1.1947 | mae: 0.8708 | val_loss: 4.1651 | val_mae: 1.8115
Epoch 5/100 |   5% | [â–ˆ-----------------------------]  loss: 1.0697 | mae: 0.8100 | val_loss: 1.7948 | val_mae: 1.0851
Epoch 6/100 |   6% | [â–ˆ-----------------------------]  loss: 1.0937 | mae: 0.8181 | val_loss: 0.9045 | val_mae: 0.7789
Epoch 7/100 |   7% | [â–ˆâ–ˆ----------------------------]  loss: 1.0180 | mae: 0.8035 | val_loss: 0.7139 | val_mae: 0.6749
Epoch 8/100 |   8% | [â–ˆâ–ˆ----------------------------]  loss: 0.9876 | mae: 0.7801 | val_loss: 0.4131 | val_mae: 0.4874
Epoch 9/100 |   9% | [â–ˆâ–ˆ----------------------------]  loss: 0.8260 | mae: 0.7104 | val_loss: 0.3313 | val_mae: 0.4361
Epoch 10/100 |  10% | [â–ˆâ–ˆâ–ˆ---------------------------]  loss: 0.8170 | mae: 0.7148 | val_loss: 0.3014 | val_mae: 0.4111
Epoch 11/100 |  11% | [â–ˆâ–ˆâ–ˆ---------------------------]  loss: 0.8156 | mae: 0.7151 | val_loss: 0.3235 | val_mae: 0.4310
Epoch 12/100 |  12% | [â–ˆâ–ˆâ–ˆ---------------------------]  loss: 0.7552 | mae: 0.6920 | val_loss: 0.2743 | val_mae: 0.3879
Epoch 13/100 |  13% | [â–ˆâ–ˆâ–ˆ---------------------------]  loss: 0.7513 | mae: 0.6855 | val_loss: 0.3267 | val_mae: 0.4365
Epoch 14/100 |  14% | [â–ˆâ–ˆâ–ˆâ–ˆ--------------------------]  loss: 0.7563 | mae: 0.6882 | val_loss: 0.3068 | val_mae: 0.4260
Epoch 15/100 |  15% | [â–ˆâ–ˆâ–ˆâ–ˆ--------------------------]  loss: 0.7275 | mae: 0.6717 | val_loss: 0.2737 | val_mae: 0.3936
Epoch 16/100 |  16% | [â–ˆâ–ˆâ–ˆâ–ˆ--------------------------]  loss: 0.7648 | mae: 0.6892 | val_loss: 0.2587 | val_mae: 0.3787
Epoch 17/100 |  17% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------------------------]  loss: 0.6788 | mae: 0.6535 | val_loss: 0.2998 | val_mae: 0.4083
Epoch 18/100 |  18% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------------------------]  loss: 0.7134 | mae: 0.6689 | val_loss: 0.2463 | val_mae: 0.3631
Epoch 19/100 |  19% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------------------------]  loss: 0.6836 | mae: 0.6506 | val_loss: 0.4330 | val_mae: 0.5116
Epoch 20/100 |  20% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------------------]  loss: 0.6907 | mae: 0.6573 | val_loss: 0.2324 | val_mae: 0.3581
Epoch 21/100 |  21% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------------------]  loss: 0.6327 | mae: 0.6304 | val_loss: 0.2655 | val_mae: 0.3878
Epoch 22/100 |  22% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------------------]  loss: 0.6156 | mae: 0.6203 | val_loss: 0.2401 | val_mae: 0.3619
Epoch 23/100 |  23% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------------------]  loss: 0.6067 | mae: 0.6189 | val_loss: 0.2836 | val_mae: 0.3926
Epoch 24/100 |  24% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------------------]  loss: 0.6097 | mae: 0.6188 | val_loss: 0.2365 | val_mae: 0.3593
Epoch 25/100 |  25% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------------------]  loss: 0.6178 | mae: 0.6269 | val_loss: 0.2260 | val_mae: 0.3564
Epoch 26/100 |  26% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------------------]  loss: 0.5765 | mae: 0.5989 | val_loss: 0.2709 | val_mae: 0.3929
Epoch 27/100 |  27% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------------------]  loss: 0.5798 | mae: 0.6016 | val_loss: 0.2690 | val_mae: 0.3952
Epoch 28/100 |  28% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------------------]  loss: 0.5764 | mae: 0.5985 | val_loss: 0.2310 | val_mae: 0.3609
Epoch 29/100 |  28% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------------------]  loss: 0.6057 | mae: 0.6176 | val_loss: 0.2313 | val_mae: 0.3603
Epoch 30/100 |  30% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------------------]  loss: 0.5810 | mae: 0.5977 | val_loss: 0.2462 | val_mae: 0.3725
Epoch 31/100 |  31% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------------------]  loss: 0.5194 | mae: 0.5748 | val_loss: 0.2186 | val_mae: 0.3461
Epoch 32/100 |  32% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------------------]  loss: 0.5051 | mae: 0.5598 | val_loss: 0.2543 | val_mae: 0.3727
Epoch 33/100 |  33% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------------------]  loss: 0.5045 | mae: 0.5555 | val_loss: 0.2807 | val_mae: 0.3978
Epoch 34/100 |  34% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------------------]  loss: 0.4903 | mae: 0.5501 | val_loss: 0.2345 | val_mae: 0.3614
Epoch 35/100 |  35% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------------------]  loss: 0.4718 | mae: 0.5416 | val_loss: 0.2377 | val_mae: 0.3712
Epoch 36/100 |  36% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------------------]  loss: 0.5080 | mae: 0.5599 | val_loss: 0.2087 | val_mae: 0.3369
Epoch 37/100 |  37% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------------------]  loss: 0.5145 | mae: 0.5662 | val_loss: 0.2384 | val_mae: 0.3686
Epoch 38/100 |  38% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------------------]  loss: 0.4904 | mae: 0.5546 | val_loss: 0.2284 | val_mae: 0.3585
Epoch 39/100 |  39% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------------------]  loss: 0.4740 | mae: 0.5494 | val_loss: 0.2277 | val_mae: 0.3562
Epoch 40/100 |  40% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------------]  loss: 0.4572 | mae: 0.5357 | val_loss: 0.2477 | val_mae: 0.3691
Epoch 41/100 |  41% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------------]  loss: 0.4742 | mae: 0.5442 | val_loss: 0.2978 | val_mae: 0.4222
Epoch 42/100 |  42% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------------]  loss: 0.4788 | mae: 0.5492 | val_loss: 0.2301 | val_mae: 0.3511
Epoch 43/100 |  43% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------------]  loss: 0.4432 | mae: 0.5296 | val_loss: 0.3220 | val_mae: 0.4435
Epoch 44/100 |  44% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------------]  loss: 0.4733 | mae: 0.5398 | val_loss: 0.2206 | val_mae: 0.3564
Epoch 45/100 |  45% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------------]  loss: 0.4470 | mae: 0.5283 | val_loss: 0.2241 | val_mae: 0.3580
Epoch 46/100 |  46% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------------]  loss: 0.4186 | mae: 0.5097 | val_loss: 0.2181 | val_mae: 0.3497
Epoch 47/100 |  47% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------------]  loss: 0.4097 | mae: 0.5061 | val_loss: 0.2303 | val_mae: 0.3551
Epoch 48/100 |  48% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------------]  loss: 0.4168 | mae: 0.5131 | val_loss: 0.2439 | val_mae: 0.3737
Epoch 49/100 |  49% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------------]  loss: 0.4249 | mae: 0.5219 | val_loss: 0.2640 | val_mae: 0.3891
Epoch 50/100 |  50% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------------]  loss: 0.4168 | mae: 0.5092 | val_loss: 0.2111 | val_mae: 0.3369
Epoch 51/100 |  51% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------------]  loss: 0.4223 | mae: 0.5135 | val_loss: 0.3318 | val_mae: 0.4430
Epoch 52/100 |  52% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------------]  loss: 0.3999 | mae: 0.4965 | val_loss: 0.2035 | val_mae: 0.3342
Epoch 53/100 |  53% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------------]  loss: 0.3921 | mae: 0.4972 | val_loss: 0.2694 | val_mae: 0.3892
Epoch 54/100 |  54% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------------]  loss: 0.4068 | mae: 0.5041 | val_loss: 0.2152 | val_mae: 0.3480
Epoch 55/100 |  55% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------------]  loss: 0.3772 | mae: 0.4855 | val_loss: 0.2491 | val_mae: 0.3806
Epoch 56/100 |  56% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------------]  loss: 0.3988 | mae: 0.5013 | val_loss: 0.2227 | val_mae: 0.3619
Epoch 57/100 |  56% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------------]  loss: 0.3519 | mae: 0.4670 | val_loss: 0.2160 | val_mae: 0.3496
Epoch 58/100 |  57% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------------]  loss: 0.3847 | mae: 0.4857 | val_loss: 0.2182 | val_mae: 0.3529
Epoch 59/100 |  59% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------------]  loss: 0.3755 | mae: 0.4858 | val_loss: 0.2466 | val_mae: 0.3744
Epoch 60/100 |  60% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------]  loss: 0.3526 | mae: 0.4679 | val_loss: 0.2205 | val_mae: 0.3545
Epoch 61/100 |  61% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------]  loss: 0.3569 | mae: 0.4762 | val_loss: 0.2267 | val_mae: 0.3620
Epoch 62/100 |  62% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------]  loss: 0.3737 | mae: 0.4872 | val_loss: 0.2257 | val_mae: 0.3589
Epoch 63/100 |  63% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------------]  loss: 0.3641 | mae: 0.4777 | val_loss: 0.2659 | val_mae: 0.4001
Epoch 64/100 |  64% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------]  loss: 0.3861 | mae: 0.4876 | val_loss: 0.2690 | val_mae: 0.4119
Epoch 65/100 |  65% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------]  loss: 0.3462 | mae: 0.4668 | val_loss: 0.2322 | val_mae: 0.3697
Epoch 66/100 |  66% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----------]  loss: 0.3540 | mae: 0.4705 | val_loss: 0.2697 | val_mae: 0.4048
Epoch 67/100 |  67% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------]  loss: 0.3278 | mae: 0.4533 | val_loss: 0.2237 | val_mae: 0.3602
Epoch 68/100 |  68% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------]  loss: 0.3405 | mae: 0.4579 | val_loss: 0.2242 | val_mae: 0.3549
Epoch 69/100 |  69% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----------]  loss: 0.3254 | mae: 0.4522 | val_loss: 0.2087 | val_mae: 0.3464
Epoch 70/100 |  70% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------]  loss: 0.3160 | mae: 0.4457 | val_loss: 0.2014 | val_mae: 0.3345
Epoch 71/100 |  71% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------]  loss: 0.3331 | mae: 0.4572 | val_loss: 0.2186 | val_mae: 0.3536
Epoch 72/100 |  72% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------]  loss: 0.3552 | mae: 0.4687 | val_loss: 0.2345 | val_mae: 0.3669
Epoch 73/100 |  73% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---------]  loss: 0.3407 | mae: 0.4619 | val_loss: 0.2142 | val_mae: 0.3511
Epoch 74/100 |  74% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------]  loss: 0.3170 | mae: 0.4442 | val_loss: 0.3234 | val_mae: 0.4582
Epoch 75/100 |  75% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------]  loss: 0.3322 | mae: 0.4572 | val_loss: 0.2282 | val_mae: 0.3630
Epoch 76/100 |  76% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--------]  loss: 0.3185 | mae: 0.4507 | val_loss: 0.2318 | val_mae: 0.3554
Epoch 77/100 |  77% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------]  loss: 0.3029 | mae: 0.4371 | val_loss: 0.2246 | val_mae: 0.3584
Epoch 78/100 |  78% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------]  loss: 0.2873 | mae: 0.4263 | val_loss: 0.2477 | val_mae: 0.3865
Epoch 79/100 |  79% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-------]  loss: 0.3084 | mae: 0.4334 | val_loss: 0.2443 | val_mae: 0.3686
Epoch 80/100 |  80% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------]  loss: 0.2937 | mae: 0.4260 | val_loss: 0.2673 | val_mae: 0.4049
Epoch 81/100 |  81% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------]  loss: 0.3077 | mae: 0.4392 | val_loss: 0.2212 | val_mae: 0.3516
Epoch 82/100 |  82% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------]  loss: 0.2998 | mae: 0.4352 | val_loss: 0.2512 | val_mae: 0.3830
Epoch 83/100 |  83% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ------]  loss: 0.3015 | mae: 0.4400 | val_loss: 0.2296 | val_mae: 0.3627
Epoch 84/100 |  84% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----]  loss: 0.2825 | mae: 0.4183 | val_loss: 0.2680 | val_mae: 0.4045
Epoch 85/100 |  85% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----]  loss: 0.2715 | mae: 0.4142 | val_loss: 0.2284 | val_mae: 0.3620
Epoch 86/100 |  86% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-----]  loss: 0.2772 | mae: 0.4160 | val_loss: 0.2709 | val_mae: 0.4052
Epoch 87/100 |  87% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----]  loss: 0.2756 | mae: 0.4152 | val_loss: 0.2377 | val_mae: 0.3677
Epoch 88/100 |  88% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----]  loss: 0.2827 | mae: 0.4203 | val_loss: 0.2671 | val_mae: 0.4012
Epoch 89/100 |  89% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ----]  loss: 0.2579 | mae: 0.4055 | val_loss: 0.2022 | val_mae: 0.3364
Epoch 90/100 |  90% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---]  loss: 0.2532 | mae: 0.3974 | val_loss: 0.3106 | val_mae: 0.4320
Epoch 91/100 |  91% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---]  loss: 0.2550 | mae: 0.4019 | val_loss: 0.2414 | val_mae: 0.3824
Epoch 92/100 |  92% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---]  loss: 0.2504 | mae: 0.3944 | val_loss: 0.1853 | val_mae: 0.3177
Epoch 93/100 |  93% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ---]  loss: 0.2403 | mae: 0.3880 | val_loss: 0.2428 | val_mae: 0.3750
Epoch 94/100 |  94% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--]  loss: 0.2376 | mae: 0.3846 | val_loss: 0.2769 | val_mae: 0.4133
Epoch 95/100 |  95% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--]  loss: 0.2442 | mae: 0.3883 | val_loss: 0.2486 | val_mae: 0.3890
Epoch 96/100 |  96% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ--]  loss: 0.2175 | mae: 0.3638 | val_loss: 0.2250 | val_mae: 0.3532
Epoch 97/100 |  97% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-]  loss: 0.2279 | mae: 0.3717 | val_loss: 0.2703 | val_mae: 0.4097
Epoch 98/100 |  98% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-]  loss: 0.2238 | mae: 0.3727 | val_loss: 0.2313 | val_mae: 0.3669
Epoch 99/100 |  99% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ-]  loss: 0.2301 | mae: 0.3777 | val_loss: 0.2176 | val_mae: 0.3540

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Epoch 100/100 | 100% | [â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ]  loss: 0.2188 | mae: 0.3695 | val_loss: 0.2222 | val_mae: 0.3522

In [42]:
from sklearn.metrics import r2_score
import numpy as np

# Predictions (log scale â†’ convert back)
log_preds = model.predict([X_test_locality, X_test_other])
preds = np.expm1(log_preds)
actual = np.expm1(y_test)
loss, mae = model.evaluate(
    [X_test_locality, X_test_other],
    y_test
)


r2 = r2_score(actual, preds)
print("RÂ² Score:", r2)

print("MAE:", mae)
print("RMSE:", loss ** 0.5)
print("Accuracy:", r2 * 100, "%")

30/30 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 6ms/step
30/30 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 3ms/step - loss: 0.2171 - mae: 0.3652
RÂ² Score: 0.6652373879906405
MAE: 0.3651691973209381
RMSE: 0.46590485195549136
Accuracy: 66.52373879906405 %